
body{
  background: #BDBDBD;
}

.card-title {
  font-size: 150px;
  text-align: center;
  padding-bottom: 20px;
  
}

.card-text {
  font-size: 80px;
  text-align: center;
}

.card-img-overlay {
  align-items: center;
  padding: 15px;
  margin-top: 10%;

}

.card-img {

  max-height:1100px;
  overflow:hidden;
}